<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Clínica</title>
    <link rel="stylesheet" href="style.css" id="colors">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</head>


<body>
    <div class="header">
        <a href="#default" class="logo"><i>CliniOnline</i></a>
        <div class="header-right">
          <a class="active" href="#home">Log Out</a>
        </div>
      </div>
    <div style="padding: 10px;">
        <span><i><strong>¡Bienvenido!</strong></i> Doctor </span>
    </div>
    
    <div class="container" style=" align-items: center;padding: 50px; width: 70%;margin: 0 auto; border-radius: 15px;">

        <div style="background-color: rgb(243, 243, 243); padding: 30px;  border-radius: 15px;">
            <div class="row"
                style="position: relative;left:0px; top:-50px; background-color: rgb(159, 197, 233);width: max-content; padding: 5px;border-radius: 10px 10px 10px 10px ; width: 70%;">
                <div
                    style="position: relative;left:0px; bottom: -5px; background-color: rgb(184, 161, 86);width: max-content; padding: 5px;border-radius: 10px 10px 0px 0px ;">
                   Consultas registradas
                </div>
                <div
                    style="position: relative;left:0px; bottom: -5px; background-color: rgb(254, 217, 100);width: max-content; padding: 5px;border-radius: 10px 10px 0px 0px ;">
                    Registrar consulta
                </div>
            </div>
            <div
                style="background-color: #fff; padding: 30px 10px;border-color: black;border-width: 1px; border-style: solid;border-radius: 50px; text-align: left; ">
                <h1 style="text-align: center;">Historía Clínica N 111</h1>
                <div class="row" style="text-align: center; padding: 10px;margin-bottom: 10px;">
                    <div class="col-md-4" style="padding: 10px;">
                        <select style="height: 100%;width: 100%;">
                            <option>Cédula de Ciudadanía</option>
                            <option>Registro civil</option>
                            <option>EX</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="padding: 10px;">
                        <input  style="width: 100%;height: 100%;"placeholder="Ingrese documento">
                    </div>
                    <div class="col-md-4 " style="padding: 10px;">
                        <button class="btn btn-primary" style="width: 100%;border-radius: 15px; background-color:rgb(159, 197, 233);"> consultar </button>
                    </div>
                </div>


            </div>

        </div>
    </div>

</body>

</html>